Source: ixwebsocket
Section: libs
Priority: optional
Maintainer: yangmame <yangmame@icloud.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 libssl-dev,
 libz-dev,
Standards-Version: 4.6.2
Homepage: https://github.com/machinezone/IXWebSocket
Vcs-Git: https://github.com/machinezone/IXWebSocket.git

Package: libixwebsocket
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: IXWebSocket is a C++ library
 for WebSocket client and server development. 
